body{
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;	
}

.menu{
	background:url(../img/menu_fundo.jpg);
	width:auto;
	height:44px;	
}

.menu .menu_margin{
	width:980px;
	margin:0 auto;
	height:44px;	
}

.menu .menu_margin table{
	margin-left:37px;
	*margin-left:37px;
	padding:4px;
	*margin-top:5px;
}