body{
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.header{
    width: 980px;
    height: 150px;
    margin: 0 auto;
}

.header #logo{
    padding: 10px;
    margin-left: 11px;
}

.header #btn_home{
    margin-top: -32px;
    margin-left: 250px;
}

.header #btn_logoff{
    margin-top: -17px;
    margin-left: 320px;
}

.linha_header{
    width: auto;
    border: 1px solid #ececec;
}
